* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilo general */
.container__section {
    width: 80%;
    display: flex;
}
/* Estilo general */


html {
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
}

.header {
    width: 100%;
    min-height: 100vh;
}

/* -------- navbar --------- */
.navbar {
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__container {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navbar__logo {
    width: 149px;
    height: auto;
}

.navbar__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.navbar__items-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: #4F5665;
    margin: 0 20px;
    font-weight: 400;
}

.navbar__sign {
    display: flex;
    align-items: center;
}

.navbar__sign-in {
    color: #0B132A;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.6rem;
    margin-right: 30px;
    cursor: pointer;
}

.btn {
    color: #F53855;
    border: 1px solid #F53855;
    width: 150px;
    border-radius: 50px;
    height: 45px;
    font-size: 1.6rem;
    font-weight: 500;
    background: #FFFFFF;
    cursor: pointer;
}

/* ----------- HERO ----------------- */
.hero {
    width: 100%;
    margin-top: 52px;
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__container {
    align-items: center;
    justify-content: space-between;
}

/* ------- hero-left (text) ------ */
.hero__section-left {
    width: 47%;
    padding-right: 40px;
}

.hero__title {
    font-size: 4.5rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: #0B132A;
    line-height: 70px;

}

.hero__title-black {
    font-weight: 700;
}

.hero__paragraph {
    font-size: 1.4rem;
    color: #4F5665;
    font-weight: 400;
    margin-bottom: 50px;
    line-height: 30px;
}

.btn-big {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: #F53838;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(245, 56, 56, 0.35) 0px 30px 40px -7px;
}

/* ------- hero-right (img) --------- */
.hero__section-right {
    width: 53%;
}

.hero__img {
    width: 100%;
}

/* ------- Box center ----------- */
.box__center {
    width: 100%;
    margin-top: 103px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-align{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box__center-inside {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 200px;
    box-shadow: 0px 30px 40px -7px rgba(13, 16, 37, 0.16);
    border-radius: 10px;
}

.mini-box {
    /* width: 33%; */
    min-width: 280px;
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mini-box__general { 
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 36px;
}

.mini-box__text {
    min-width: 95px;
}

.number-black {
    font-weight: 700;
    color: #0B132A;
    font-size: 2.5rem;
    margin-bottom: 5px;

}
.name-black {
    font-weight: 400;
    color: #4F5665;
    font-size: 2rem;
}

.vertical-line {
    background-image: url(./assets/icons/Vector\ 14.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 2px;
    height: 125px;
}

/* ---------- Intermediate ----------- */
.intermediate {
    width: 100%;
    /* min-height: 642px; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 131px;
}

.intermediate__features {
    /* border: 1px solid blue; */
    min-height: 430px;
    align-items: center;
    justify-content: space-between;
}

.features-left {
    width: 48%;
    min-height: 430px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.features-left__img {
    width: 100%;
}

.features-right {
    width: 48%;
    min-height: 430px;
    /* border: 1px solid palevioletred; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.features-right__container {
    margin-bottom: 20px;
    margin-left: 50px;
}

.first-text {
    font-size: 3.5rem;
    font-weight: 600;
    color: #0B132A;
    line-height: 50px;
    margin-bottom: 20px;
}

.second-text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 30px;
    color: #4F5665;
    margin-bottom: 20px;
}

.right-list {
    list-style: none;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 30px;
    color: #4F5665;
}

.check {
    background-image: url(./assets/icons/Group\ 1120.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.check-list {
    display: flex;
    align-items: center;
}

/* ---------- Section-plans -------------- */
.section-plans {
    width: 100%;
    min-height: 100vh;
    /* border: 1px solid red; */
    background: rgb(246,246,246);
    background: linear-gradient(180deg, rgba(246,246,246,1) 0%, rgba(255,255,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.section-plans__box {
    /* min-height: 500px; */
    /* border: 1px solid blue; */
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.plans-texts {
    /* width: 555px; */
    height: 200px;
    /* border: 1px solid palevioletred; */
    margin-top: 80px;
    margin-bottom: 20px;
}

.plans-texts__title {
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: #0B132A;
    line-height: 50px;
}

.plans-texts__paragraph {
    font-size: 1.6rem;
    line-height: 30px;
    font-weight: 400;
    color: #4F5665;
}

.section-plans__cards {
    display: flex;
    justify-content: space-evenly;
}

.section-plans__card-one {
    width: 330px;
    height: 760px;
    border: 2px solid #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.card-one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 660px;
    width: 100%;
    /* border: 1px solid cornflowerblue;
 */
}

.card-one__img {
    width: 144px;
    height: 165px;
    margin-top: 79px;
    margin-bottom: 30px;
}

.free-plan {
    color: #0B132A;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 30px;
}

.free-list {
    list-style: none;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 130px;
    color: #4F5665;
}

.free-list__check {
    display: flex;
    align-items: center;
}

.list {
    margin-right: 20px;
}

.section-plans__card-two {
    width: 330px;
    height: 760px;
    border: 1px solid greenyellow;
}

.section-plans__card-three {
    width: 330px;
    height: 760px;
    border: 1px solid greenyellow;
}

.text-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-free {
    text-decoration: none;
    color: #0B132A;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 20px;
}

.btn-free {
    width: 150px;
    border-radius: 50px;
    height: 45px;
    font-size: 1.6rem;
    font-weight: 700;
    background: #FFFFFF;
    cursor: pointer;
    border: 2px solid #F53838;
    color: #F53838;
    font-family: 'Rubik';
    line-height: 19px;
}

.free-list-two {
    list-style: none;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 130px;
    color: #4F5665;
}





/* Media Queries */

@media (min-width: 0px) and (max-width: 425px){

    /* ---------NAV---------- */
    .navbar__container {
        justify-content: space-around;
    }
    .navbar__logo {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .navbar__items {
        margin-bottom: 15px;
    }
    .navbar__sign {
        margin-bottom: 15px;
    }
    .btn {
        height: 25px;
        width: 110px;
    }

    /* ---------HERO---------- */
    .hero {margin-top: 20px;}
    .hero__container {
        flex-direction: column-reverse;
    }
    .hero__section-left {
        width: 100%;
        text-align: center;
        padding-right: 0;
    }
    .hero__title {
        font-size: 3.5rem;
        line-height: 50px;
    }
    .hero__paragraph {
        margin-bottom: 30px;
    }
    .btn-big {
        width: 150px;
        height: 43px;
    }
    .hero__section-right {
        width: 100%;
        margin-bottom: 20px;
    }

    /* --------- Box Center ---------- */

    .box__center-inside{
        width: 100%;
        padding: 0 30px;
    }
    .mini-box{
        margin: 30px 0;
    }

    .vertical-line{
        display: none;
    }

    .box__center {
        margin-bottom: 30px;
    }
    
    /* ---- Intermediate ------- */
    .intermediate__features {
        flex-direction: column;
    }
    .features-left {
        width: 100%;
        margin-bottom: 20px;
    }
    .features-right {
        width: 100%;
    }
    .features-right__container {
        margin-left: 0px;
    }
    .jump {
        display: none;
    }
}

@media (min-width: 426px) and (max-width: 640px){

    /* ---------NAV---------- */
    .navbar__container {
        justify-content: space-around;
    }
    .navbar__logo {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .navbar__items {
        margin-bottom: 15px;
    }
    .navbar__sign {
        margin-bottom: 15px;
    }
    .btn {
        height: 25px;
        width: 110px;
    }

    /* ---------HERO---------- */
    .hero {margin-top: 20px;}
    .hero__container {
        flex-direction: column-reverse;
    }
    .hero__section-left {
        width: 100%;
        text-align: center;
        padding-right: 0;
    }
    .hero__title {
        font-size: 3.5rem;
        line-height: 50px;
    }
    .hero__paragraph {
        margin-bottom: 30px;
    }
    .btn-big {
        width: 150px;
        height: 43px;
    }
    .hero__section-right {
        width: 100%;
        margin-bottom: 20px;
    }

    /* --------- Box Center ---------- */

    .box__center-inside{
        width: 85%;
        padding: 0 30px;
    }
    .mini-box{
        margin: 20px 0;
    }

    .vertical-line{
        display: none;
    }
    .box__center {
        margin-bottom: 30px;
    }
    
    /* ---- Intermediate ------- */
    .intermediate__features {
        flex-direction: column;
    }
    .features-left {
        width: 100%;
        margin-bottom: 20px;
    }
    .features-right {
        width: 100%;
    }
    .features-right__container {
        margin-left: 0px;
    }
    .jump {
        display: none;
    }
}

@media (min-width: 641px) and (max-width: 768px){

    /* ---------NAV---------- */
    .navbar__container {
        justify-content: space-around;
    }
    .navbar__logo {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .navbar__items {
        margin-bottom: 15px;
    }
    .navbar__sign {
        margin-bottom: 15px;
    }
    .btn {
        height: 25px;
        width: 110px;
    }

    /* ---------HERO---------- */
    .hero {margin-top: 20px;}
    .hero__container {
        flex-direction: column-reverse;
    }
    .hero__section-left {
        width: 100%;
        text-align: center;
        padding-right: 0;
    }
    .hero__title {
        font-size: 3.5rem;
        line-height: 50px;
    }
    .hero__paragraph {
        margin-bottom: 30px;
    }
    .btn-big {
        width: 150px;
        height: 43px;
    }
    .hero__section-right {
        width: 100%;
        margin-bottom: 20px;
    }

    /* --------- Box Center ---------- */

    .box__center-inside{
        width: 85%;
        padding: 0 30px;
    }
    .mini-box{
        margin: 20px 0;
    }

    .vertical-line{
        display: none;
    }

    /* ---- Intermediate ------- */
    .intermediate__features {
        flex-direction: column;
    }
    .features-left {
        width: 100%;
        margin-bottom: 20px;
    }
    .features-right {
        width: 100%;
    }
    .features-right__container {
        margin-left: 0px;
    }
    
}

@media (min-width: 769px) and (max-width: 1024px){

    /* ---------NAV---------- */
    .navbar__container {
        justify-content: space-around;
    }
    .navbar__logo {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .navbar__items {
        margin-bottom: 15px;
    }
    .navbar__sign {
        margin-bottom: 15px;
    }
    .btn {
        height: 25px;
        width: 110px;
    }

    /* ---------HERO---------- */
    .hero {margin-top: 20px;}
    .hero__container {
        flex-direction: column-reverse;
    }
    .hero__section-left {
        width: 100%;
        text-align: center;
        padding-right: 0;
    }
    .hero__title {
        font-size: 3.5rem;
        line-height: 50px;
    }
    .hero__paragraph {
        margin-bottom: 30px;
    }
    .btn-big {
        width: 150px;
        height: 43px;
    }
    .hero__section-right {
        width: 100%;
        margin-bottom: 20px;
    }

    /* --------- Box Center ---------- */

    .box__center-inside{
        /* flex-direction: column; */
        /* width: 70%; */
        padding: 0 30px;
    }
    .mini-box{
        margin: 20px 0;
    }

    .vertical-line{
        display: none;
    }

    /* ---- Intermediate ------- */
    .intermediate__features {
        flex-direction: column;
    }
    .features-left {
        width: 100%;
        margin-bottom: 20px;
    }
    .features-right {
        width: 100%;
    }
    .features-right__container {
        margin-left: 0px;
    }

}

@media (min-width: 1025px) and (max-width: 1200px){

    /* ---------NAV---------- */
    .navbar__container {
        justify-content: space-around;
    }
    .navbar__logo {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .navbar__items {
        margin-bottom: 15px;
    }
    .navbar__sign {
        margin-bottom: 15px;
    }
    .btn {
        height: 25px;
        width: 110px;
    }

    /* ---------HERO---------- */
    .hero {margin-top: 20px;}
    .hero__container {
        flex-direction: column-reverse;
    }
    .hero__section-left {
        width: 100%;
        text-align: center;
        padding-right: 0;
    }
    .hero__title {
        font-size: 3.5rem;
        line-height: 50px;
    }
    .hero__paragraph {
        margin-bottom: 30px;
    }
    .btn-big {
        width: 150px;
        height: 43px;
    }
    .hero__section-right {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    .hero__img {
        width: 75%;
    }

    .jump {
        display: none;
    }
}
