* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
}

.header {
    width: 100%;
    min-height: 100vh;
}

.navbar {
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.navbar__container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navbar__logo {
    width: 149px;
    height: auto;
}

.navbar__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.navbar__items-link {
    text-decoration: none;
    font-size: 1.6rem;
    color: #4F5665;
    margin: 0 20px;
    font-weight: 400;
}

.navbar__sign {
    display: flex;
    align-items: center;
}

.navbar__sign-in {
    color: #0B132A;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.6rem;
    margin-right: 30px;
    cursor: pointer;
}

.btn {
    color: #F53855;
    border: 1px solid #F53855;
    width: 150px;
    border-radius: 50px;
    height: 45px;
    font-size: 1.6rem;
    font-weight: 500;
    background: #FFFFFF;
    cursor: pointer;
}



/* Media Queries */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 425px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 805px) and (max-width: 1200px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .navbar__container {
        justify-content: space-around;
    }

    .navbar__logo {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .navbar__items {
        margin-bottom: 15px;
    }
    .navbar__sign {
        margin-bottom: 15px;
    }

    
}
    
